//Main website colors
$primary-color: #10004F;
$secundary-color: #FFFFFF;
$tertiary-color: #E8114B;
$quaternary-color:#5C5C5C;
$primary-text-color: #10004F;
$secundary-text-color: #5C5C5C;

//Mixin to set flex display and align items
@mixin flex-align($align){
  display: flex;
  align-items: $align;
}

//Mixin to set width and height
@mixin width-and-height($width, $height){
  width: $width;
  height: $height;
}

//Mixin to set font size and font weight
@mixin fontSize-and-weight($size,$weight){
  font-size: $size;
  font-weight: $weight;
}

//ixin to set border and border radius
@mixin border-and-borderRadius($border,$borderRadius){
  border: $border;
  border-radius: $borderRadius;
}

//Mixin to set background color and border radius
@mixin background-and-borderRadius($background, $borderRadius){
  background-color: $background;
  border-radius: $borderRadius;
}

//Mixin to set position, text color, padding, top, left, and font size
@mixin positionBox-styles($position,$colorFont,$padding,$top,$left,$fontSize){
  position: $position;
  color: $colorFont;
  padding: $padding;
  top: $top;
  left: $left;
  font-size: $fontSize;
}

//Mixin to set position, text color, top, left, and font size for mobile
@mixin positionBox-styles-mobile($position,$colorFont,$top,$left,$fontSize){
  position: $position;
  color: $colorFont;
  top: $top;
  left: $left;
  font-size: $fontSize;
}

.main{
  position: relative;

  //Styles for the promotional section
  .promotional__section{
    position: relative;

    //Styles for the promotional image
    .promotional__image--section{
      @include width-and-height(100%,300px);
      object-fit: cover;
      border-radius: 0 0 30px 30px;
      filter: opacity(.7) //Apply opacity to the image
    }

    //Styles for the promotional headline
    .promotional__h1--section {
      @include positionBox-styles(absolute,$primary-color, 10px,20px,30px,25px);
      font-weight: 300;
      line-height: 1.5;
    }

    //Styles for the call-to-action button
    .promotional__a--section {
      @include positionBox-styles(absolute,$primary-color, 10px,170px,30px,18px);
    }
  }///////////////////////////////End promotional section//////////////////////////////

  //Styles for the products section
  .products__section{
    @include background-and-borderRadius($secundary-color,10px);
    @include flex-align(center);
    position: absolute;
    top: 230px;
    left: 20px;
    padding: 5px;

     /* Hide navigation arrows */
    .products__arrow-right,
    .products__arrow-left{
      display: none
    }

    //Styles for product links
    .product__link{
      @include flex-align(center);
      margin: 8px 8px;
      color: $secundary-text-color;
      text-decoration: none;
      font-weight: 300;

      //Change text color on hover
      &:hover{
        color: $primary-text-color;
      }

      //Styles for product icons
      .product__icon{
        margin: 8px;
      }
    }
  }///////////////////////////////End products section//////////////////////////////

  //Styles for the search flights section
  .search-flights__section{
    @include background-and-borderRadius($secundary-color,10px);
    position: absolute;
    top: 275px;
    left:20px;
    width: auto;
    box-shadow: 0px 10px 8px #5c5c5c4b;

    //Hide mobile section
    .search-flights__section--mobile{
      display: none;
    }

    //Style options section
    .search-flights__options{
      margin: 5px 20px 10px 20px;
      @include flex-align(center);
      justify-content: flex-start;

      // Style individual option elements
      .search-flights__option{
        margin: 20px;
        font-weight: 300;
        color: $primary-text-color;
        @include flex-align(center);

        //Style input elements within options
        .search-flights__input{
          @include width-and-height(20px,20px);
          margin-right: 15px;
        }
      }
    }

    //Style choose destination section
    .choose-destination__section{
      margin: 10px 20px 15px 20px;

      // Style input fields for origin and destination
      .choose-destination__input--origin,
      .choose-destination__input--destination{
        padding: 15px;
        margin-left: 10px;
        width: 200px;
        @include border-and-borderRadius(1px solid #5c5c5c4b,5px);
        font-family: 'Roboto', sans-serif;
        @include fontSize-and-weight(18px,300);
      }

      //Style departure option
      .choose-destination__option--departure{
        margin-left: 40px;
        color: $primary-color;

        //Style input field within departure option
        .choose-destination__input--departure{
          padding: 15px;
          width: 200px;
          margin-left: 5px;
          @include border-and-borderRadius(1px solid #5c5c5c4b,5px);
          font-family: 'Roboto', sans-serif;
          @include fontSize-and-weight(18px,300);
        }
      }

      //Style comeback option
      .choose-destination__option--comeback{

        color: $secundary-text-color;

        //Style input field within comeback option
        .choose-destination__input--comeback{
          padding: 15px;
          width: 200px;
          margin-left: 5px;
          border: 1px solid #5c5c5c4b;
          font-family: 'Roboto', sans-serif;
          @include fontSize-and-weight(18px,300);
          @include background-and-borderRadius(#5c5c5c28,5px);
        }
      }

      // Style search button
      .choose-destination__button{
        padding: 15px;
        margin-left: 25px;
        width: 150px;
        border: none;
        @include background-and-borderRadius($tertiary-color,5px);
        font-family: 'Roboto', sans-serif;
        color: $secundary-color;
        @include fontSize-and-weight(18px,500);

        //Adjust opacity on hover for interactivity
        &:hover{
          opacity: 0.9;
        }
      }
    }
  }///////////////////////////////End search flights section//////////////////////////////

  //Styles for the support services section
  .support-services__section{
    margin-top: 170px;
    @include flex-align(center);
    justify-content: center;
    flex-wrap: wrap;

    // Styles for support service links
    .support-services__link{
      @include flex-align(center);
      justify-content: space-between;
      @include border-and-borderRadius(1px solid #5c5c5c4b,10px);
      padding: 20px;
      height: 20px;
      margin: 10px;
      text-decoration: none;
      @include fontSize-and-weight(15px,500);
      transition: transform 0.3s ease;

      //Hover effect to move the link to the right
      &:hover{
        transform: translateX(10px);
      }

      //Styles for the support service icons
      .support-services__icon{
        margin-right: 10px;
        @include background-and-borderRadius(#5c5c5c28,20px);
      }
    }
  }///////////////////////////////End support services section//////////////////////////////

  //Styles for the next destination section
  .next-destination__section{

    .next-destination__container--titles{
      margin: 40px 0px 0px 40px;

      // Styles for the main heading
      .next-destination__h2{
        font-weight: 500;
        color: $primary-text-color;
      }

      //Styles for the paragraph about accumulating LATAM Pass Miles and Qualifying Points
      .next-destination__p--miles{
        @include fontSize-and-weight(17px,400);
        color: $secundary-text-color;
        margin-bottom: 30px;
      }

      //Styles for the paragraph about flight offers from a specific location
      .next-destination__p--offers{
        @include fontSize-and-weight(17px,400);
        @include flex-align(center);
        color: $secundary-text-color;

        //Styles for the link to a specific location
        .next-destination__link{
          color: #4658E5;
          font-weight: 800;
        }
      }
    }

    //Container for next destination cards
    .next-destination__container--card{
      @include flex-align(center);
      justify-content: space-evenly;

      //Styles for Cali card
      .next-destination__card--cali{
        position: relative;
        transition: transform 0.3s ease;

        &:hover{
          transform: translateY(-5px);
        }

        //Styles for Cali card image
        .next-destination__img--cali{
          @include width-and-height(400px,200px);
          object-fit: cover;
          border-radius: 20px;
          position: relative;
        }

        //Styles for Cali card travel date
        .next-destination__section--travel-date-cali{
          @include background-and-borderRadius(#DFE2F6,10px 10px 0px 0px);
          position: absolute;
          top: 170px;
          @include width-and-height(100%,40px);
          @include flex-align(center);
          justify-content: flex-start;

          .next-destination__p--travel-date-cali{
            color: $secundary-text-color;
            padding-left: 10px;
          }
        }

        //Styles for Cali card information container
        .next-destination__info--container-cali{
          @include background-and-borderRadius($secundary-color,5px 5px 10px 10px);
          @include width-and-height(400px,220px);
          position: absolute;
          box-shadow: 0px 10px 8px #5c5c5c4b;

          //Styles for Cali card information
          .next-destination__info--cali{
            margin-left: 10px;

            .next-destination__info--city-cali{
              color: $primary-text-color;
              @include fontSize-and-weight(30px,500);
              margin-top: 5px;
            }

            .next-destination__info--one-way-cali{
              font-size: 17px;
              color: #4658E5;
              @include background-and-borderRadius(#4659e52d,20px);
              padding: 5px;
            }

            .next-destination__info--economy-cali{
              @include fontSize-and-weight(17px,300);
              @include background-and-borderRadius(#5c5c5c4b,20px);
              padding: 5px;
              margin: 5px;
            }

            .next-destination__info--final-price-cali{
              color: $secundary-text-color;
              font-weight: 300;
            }

            //Styles for Cali card price and icon
            .next-destination__info--arrow-cali{
              display: flex;
              justify-content: flex-start;

              .next-destination__info--price-cali{
                @include fontSize-and-weight(20px,800);
                color: $primary-text-color;
                margin-top: 5px;
              }

              .next-destination__info--icon-cali{
                @include background-and-borderRadius($tertiary-color, 30px);
                margin-left: 180px;
              }
            }

            .next-destination__info--taxes-cali{
              color: $secundary-text-color;
              font-weight: 300;
              margin-right: 10px;
              margin-top: 10px;
            }

            .next-destination__info--direct-flight-cali{
              color: $secundary-text-color;
              font-weight: 300;
            }
          }
        }
      }

      //Styles for sai card
      .next-destination__card--sai{
        position: relative;
        transition: transform 0.3s ease;

        &:hover{
          transform: translateY(-5px);
        }

        //Styles for sai card image
        .next-destination__img--sai{
          @include width-and-height(400px,200px);
          object-fit: cover;
          border-radius: 20px;
          position: relative;
        }

        //Styles for sai card travel date
        .next-destination__section--travel-date-sai{
          position: absolute;
          top: 170px;
          @include width-and-height(100%,40px);
          @include background-and-borderRadius(#DFE2F6, 10px 10px 0px 0px);
          @include flex-align(center);
          justify-content: flex-start;

          .next-destination__p--travel-date-sai{
            color: $secundary-text-color;
            padding-left: 10px;
          }
        }

        //Styles for sai card information container
        .next-destination__info--container-sai{
          @include background-and-borderRadius($secundary-color,5px 5px 10px 10px);
          @include width-and-height(400px,220px);
          position: absolute;
          box-shadow: 0px 10px 8px #5c5c5c4b;

          //Styles for sai card information
          .next-destination__info--sai{
            margin-left: 10px;

            .next-destination__info--city-sai{
              color: $primary-text-color;
              @include fontSize-and-weight(30px,500);
              margin-top: 5px;
            }

            .next-destination__info--one-way-sai{
              font-size: 17px;
              color: #4658E5;
              @include background-and-borderRadius(#4659e52d,20px);
              padding: 5px;
            }

            .next-destination__info--economy-sai{
              @include fontSize-and-weight(17px,300);
              @include background-and-borderRadius(#5c5c5c4b,20px);
              padding: 5px;
              margin: 5px;
            }

            .next-destination__info--final-price-sai{
              color: $secundary-text-color;
              font-weight: 300;
            }

            //Styles for sai card price and icon
            .next-destination__info--arrow-sai{
              display: flex;
              justify-content: flex-start;

              .next-destination__info--price-sai{
                @include fontSize-and-weight(20px,800);
                color: $primary-text-color;
                margin-top: 5px;
              }

              .next-destination__info--icon-sai{
                @include background-and-borderRadius($tertiary-color,30px);
                margin-left: 180px;
              }
            }

            .next-destination__info--taxes-sai{
              color: $secundary-text-color;
              font-weight: 300;
              margin-right: 10px;
              margin-top: 10px;
            }

            .next-destination__info--direct-flight-sai{
              color: $secundary-text-color;
              font-weight: 300;
            }
          }
        }
      }

      //Styles for miami card
      .next-destination__card--miami{
        position: relative;
        transition: transform 0.3s ease;

        &:hover{
          transform: translateY(-5px);
        }

        //Styles for miami card image
        .next-destination__img--miami{
          @include width-and-height(400px,200px);
          object-fit: cover;
          border-radius: 20px;
          position: relative;
        }

        //Styles for miami card travel date
        .next-destination__section--travel-date-miami{
          position: absolute;
          top: 170px;
          @include width-and-height(100%,40px);
          @include background-and-borderRadius(#DFE2F6, 10px 10px 0px 0px);
          @include flex-align(center);
          justify-content: flex-start;

          .next-destination__p--travel-date-miami{
            color: $secundary-text-color;
            padding-left: 10px;
          }
        }

        //Styles for miami card information container
        .next-destination__info--container-miami{
          @include background-and-borderRadius($secundary-color,5px 5px 10px 10px);
          @include width-and-height(400px,220px);
          position: absolute;
          box-shadow: 0px 10px 8px #5c5c5c4b;

          //Styles for miami card information
          .next-destination__info--miami{
            margin-left: 10px;

            .next-destination__info--city-miami{
              color: $primary-text-color;
              @include fontSize-and-weight(30px,500);
              margin-top: 5px;
            }

            .next-destination__info--one-way-miami{
              font-size: 17px;
              color: #4658E5;
              @include background-and-borderRadius(#4659e52d,20px);
              padding: 5px;
            }

            .next-destination__info--economy-miami{
              @include fontSize-and-weight(17px,300);
              @include background-and-borderRadius(#5c5c5c4b,20px);
              padding: 5px;
              margin: 5px;
            }

            .next-destination__info--final-price-miami{
              color: $secundary-text-color;
              font-weight: 300;
            }

            //Styles for miami card price and icon
            .next-destination__info--arrow-miami{
              display: flex;
              justify-content: flex-start;

              .next-destination__info--price-miami{
                @include fontSize-and-weight(20px,800);
                color: $primary-text-color;
                margin-top: 5px;
              }

              .next-destination__info--icon-miami{
                @include background-and-borderRadius($tertiary-color,30px);
                margin-left: 180px;
              }
            }

            .next-destination__info--taxes-miami{
              color: $secundary-text-color;
              font-weight: 300;
              margin-right: 10px;
              margin-top: 10px;
            }

            .next-destination__info--direct-flight-miami{
              color: $secundary-text-color;
              font-weight: 300;
            }
          }
        }
      }
    }

    //Styling for the container of next destination icons
    .next-destination__icons{
      margin-top: 260px;
      display: flex;
      justify-content: center;

      //Styling for the left arrow icon
      .next-destination__icon--arrow-left{
        margin-right: 30px;
        @include border-and-borderRadius(1px solid $quaternary-color,30px);

        //Hover effect for the left arrow icon
        &:hover{
          background-color: $quaternary-color;
          stroke: $secundary-color;
        }
      }

      //Styling for the right arrow icon
      .next-destination__icon--arrow-right{
        margin-left: 40px;
        @include border-and-borderRadius(1px solid $tertiary-color, 30px);

        //Hover effect for the right arrow icon
        &:hover{
          background-color: $tertiary-color;
          stroke: $secundary-color;
        }
      }

      // Styling for the container of dots
      .next-destination__dots{
        @include flex-align(center);
      }
    }
  }///////////////////////////////End next destination section//////////////////////////////

  //Styles for the nterms and conditions section
  .terms-conditions__section{
    @include flex-align(center);
    justify-content: flex-end;
    margin-right: 60px;

    //Link for the terms and conditions
    .terms-conditions__link{
      text-decoration: none;
      color: #4658E5;
      @include flex-align(center);
    }
  }///////////////////////////////End terms and conditions section//////////////////////////////
}


@media screen and (max-width: 320px) {
  .main{

    //Styles for the main promotional section on mobile devices
    .promotional__section{

      //Apply a sepia filter to the promotional image on mobile
      .promotional__image--section{
        filter: sepia(30%);
      }

      //Styles for the promotional headline on mobile
      .promotional__h1--section{
        @include positionBox-styles-mobile(absolute,$secundary-color,5px,10px,20px);
        font-weight: 300;
      }

      //Styles for the call-to-action button on mobile
      .promotional__a--section {
        @include positionBox-styles-mobile(absolute,$secundary-color,190px,8px,18px);
      }
    } ///////////////////////////////End of the mobile promotional section//////////////////////////////

    //Styles for the products section on mobile
    .products__section{
      margin-top: 10px;
      left: 5px;
      right: 5px;

      //Styles for the left arrow
      .products__arrow-left{
        display: block;
        @include background-and-borderRadius(#5c5c5c4b,30px);
        @include flex-align(center);
        @include width-and-height(30px,30px);
        justify-content: center;

        //Styles for the left arrow icon
        .products__arrow--icon-left{
          @include background-and-borderRadius($quaternary-color,30px);
          @include flex-align(center);
          justify-content: center;
        }
      }


      //Styles for the right arrow
      .products__arrow-right{
        display: block;
        @include background-and-borderRadius($tertiary-color,30px);
        @include flex-align(center);
        justify-content: center;
        @include width-and-height(30px,30px);

        //Styles for the right arrow icon
        .products__arrow--icon-right{
          @include background-and-borderRadius($secundary-color,30px);
          @include flex-align(center);
          justify-content: center;
        }
      }

      //Styles for product links
      .product__link{
        margin: 9px 10px;

        //Hide product icons
        .product__icon{
          display: none;
        }
      }

      //Styles for specific product links
      .product__link--flights{
        color: $primary-text-color;
        font-weight: 600;
        border-bottom: 2px solid $tertiary-color;
      }

      //Hide certain product links
      .product__link--cars,
      .product__link--travel-insurance,
      .product__link--upgrade{
        display: none;
      }
    }///////////////////////////////End of the mobile products section//////////////////////////////

    //Styles for the search flights section on mobile
    .search-flights__section{
      top: 280px;
      left: 5px;
      right: 5px;
      border-radius: 0px 0px 10px 10px;

      //Style the mobile section, making it visible
      .search-flights__section--mobile{
        display: block;

        //Style the mobile section header
        .search-flights__h2--mobile{
          color: $primary-text-color;
          @include fontSize-and-weight(20px,500);
          text-align: center;
          margin: 7px 0px 5px 0px;
          font-style: oblique;
        }

        //Style the options section within mobile
        .search-flights__options--mobile{
          @include flex-align(center);
          justify-content: space-evenly;
          margin-bottom: 5px;

          //Style individual mobile options
          .search-flights__option--mobile{
            @include flex-align(center);
            color: $secundary-text-color;
            @include fontSize-and-weight(15px,800);
          }
        }

        //Style the choose destination section within mobile
        .choose-destination__section--mobile{

          //Style the origin input section within mobile
          .choose-destination__origin--mobile{
            @include flex-align(center);
            justify-content: center;

            // Style the origin input field within mobile
            .choose-destination__input--origin-mobile{
              padding: 5px;
              width: 170px;
              margin: 5px 0px 10px 3px;
              @include border-and-borderRadius(1px solid #5c5c5c4b,5px);
              font-family: 'Roboto', sans-serif;
              @include fontSize-and-weight(15px,300);

            }
          }

          //Style the destination input section within mobile
          .choose-destination__destination--mobile{
            @include flex-align(center);
            justify-content: center;

            // Style the destination input field within mobile
            .choose-destination__input--destination-mobile{
              padding: 5px;
              width: 170px;
              margin: 5px 0px 10px 3px;
              @include border-and-borderRadius(1px solid #5c5c5c4b,3px);
              font-family: 'Roboto', sans-serif;
              @include fontSize-and-weight(15px,300);
            }
          }
        }
      }

      //Hide options and choose destination sections in non-mobile view
      .search-flights__options{
        display: none;
      }

      .choose-destination__section{
        display: none;
      }
    }///////////////////////////////End of the mobile search flights section//////////////////////////////

    //Styles for the support services section on mobile
    .support-services__section{
      margin-top: 150px;
      display: grid;
      grid-template-columns: auto;
    }///////////////////////////////End of the mobile support services section//////////////////////////////

    //Styles for the next destination section on mobile
    .next-destination__section{

      .next-destination__container--titles{
        margin-left: 10px;
      }

      //Container for next destination cards on mobile devices
      .next-destination__container--card{

        //Styles for Cali card
        .next-destination__card--cali{

          //Styles for Cali card image on mobile
          .next-destination__img--cali{
            @include width-and-height(290px,200px);
            object-fit: cover;
            border-radius: 20px;
            position: relative;
          }

          // Styles for Cali card information container on mobile
          .next-destination__info--container-cali{
            @include width-and-height(290px,220px);
            @include background-and-borderRadius($secundary-color,5px 5px 10px 10px );
            position: absolute;
            box-shadow: 0px 10px 8px #5c5c5c4b;

            //Styles for Cali card information on mobile
            .next-destination__info--cali{

              //Styles for arrow and price on mobile
              .next-destination__info--arrow-cali{
                display: flex;
                justify-content: flex-start;

                // Styles for price on mobile
                .next-destination__info--price-cali{
                  @include fontSize-and-weight(20px,800);
                  color: $primary-text-color;
                  margin-top: 5px;
                }

                //Styles for icon on mobile
                .next-destination__info--icon-cali{
                  @include width-and-height(30px,30px);
                  @include background-and-borderRadius($tertiary-color,30px);
                  margin-left: 80px;
                }
              }
            }
          }
        }

        //Styles for SAI card and Miami card (both hidden on mobile)
        .next-destination__card--sai,
        .next-destination__card--miami{
          display: none;
        }
      }
    }///////////////////////////////End of the mobile next destination section//////////////////////////////

    //Styles for the terms and conditions section on mobile
    .terms-conditions__section{
      @include flex-align(center);
      justify-content: center;
      margin: 10px 0px 0px 0px;
    }///////////////////////////////End of the mobile terms and conditions section//////////////////////////////
  }
}
